@font-face {
    font-family: 'Qanelas';
    src: url('./Qanelas/QanelasBlack.otf');
    }
    @font-face {
        font-family: 'QanelasMediumItalic';
        src: url('./Qanelas/QanelasBold.otf');
        }