:root {
    --modal-bg-color: rgba(0, 0, 0, 0.75);
    --modal-content-bg-color: #fff;
    --modal-content-max-width: 400px;
    --modal-transition-duration: 0.3s;
    --close-button-size: 30px;
    --close-button-margin: 16px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity var(--modal-transition-duration);
    z-index: 10;
}

.modal__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal__wrapper__content {
    position: absolute;
    margin: 2px;
    width: 100%;
    max-width: var(--modal-content-max-width);
    border-radius: 20px;
    background-color: var(--modal-content-bg-color);

    transform: translateY(-50px);
    transition: opacity var(--modal-transition-duration), transform var(--modal-transition-duration);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__wrapper__content__closeButton {
    position: absolute;
    top: var(--close-button-margin);
    right: var(--close-button-margin);
    width: var(--close-button-size);
    height: var(--close-button-size);
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.modal--entering,
.modal--entered {
    opacity: 1;
}

.modal--entering .modal__wrapper__content,
.modal--entered .modal__wrapper__content {
    transform: translateY(0);
}

.modal--exiting,
.modal--exited {
    opacity: 0;
}

.modal--exiting .modal__wrapper__content,
.modal--exited .modal__wrapper__content {
    transform: translateY(-50px);
}
.auth_Wrapper{
    background-color: #191E2E;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    border-radius: 10px;
    

}
.main_auth{
    display: flex;
    justify-content: center;
}
.input_author{
    display: block;
    background-color: #1E2538;
    width: 240px;
    height: 30px;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
}
.p_author{
    color: rgb(255, 255, 255);
    font-family: Qanelas;
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
   
}
.button_author{
    color: black;
    background-color: #F2F60F;
    width: 240px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0px;
}
.button_author:hover{
    opacity: 80%;
}
.button_link_reg{
    color: rgb(255, 255, 255);
    background-color: #1E2538;
    width: 240px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    color: rgb(255, 255, 255);
}
.button_link_reg:hover{
    opacity: 80%;
}
.link_icons{
    background-color: #1E2538;
    border-radius: 10px;
    margin: 10px;
    width: 41px;
    height: 41px;
    padding: 10px;
}
.auth_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}