header{
    position: absolute;
    padding-top: 25px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    

}
.logo{
    display: flex;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    height: 50px;



}
.logo_name{
    margin-left: 10px;
    height: 16px;
    align-self: center;
}
.logo_images{
    border-radius: 10px;
    transition: 250ms;
}
.logo_images:hover{
    opacity: 80%;
    
}
.Link{
    margin-top: 20px;
    margin-left: 90px;

}
.Link_hader{
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    padding: 20px;

}
.Link_hader:hover{
    opacity: 70%;
}
.Vector{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0px;
    width: 37px;
    height: 40px;
    margin-left: 30px;
}
.Vector:hover{
    opacity: 70%;
}
.author{
    background-color: #3657CB;
    border-radius: 10px;
    border: 0px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.author:hover{
    opacity: 70%;
}
.link_icons:hover{
    opacity: 70%;
}
.button_auth{
    background-color: #3657CB;
    border: 0px;
}